<footer>
    <p>Natal/RN,_______de____________________de_______</p>

    <div class="signatures--wrap">
        <div class="signature">
            <p>_____________________________</p>
            <p>Aprovado pelo Diretor(a) do MCC/UFRN</p>
        </div>
        <div class="signature">
            <p>_____________________________</p>
            <p>Solicitante</p>
        </div>
    </div>
    <div class="signatures--wrap">
        <div class="signature">
            <p>_____________________________</p>
            <p>Jacqueline Souza</p>
            <p>Museóloga Documentarista</p>
        </div>
        <div class="signature">
            <p>_____________________________</p>
            <p>Jailma da Silva Medeiros Santos</p>
            <p>Restauradora/Conservadora</p>
        </div>
    </div>

    <p>DEVOLVIDO EM,_______de____________________de_______</p>
    
    <div class="signature">
        <p>_____________________________</p>
        <p>Responsável pelo recebimento</p>
    </div>
</footer>