body.term-bg {
	background-color: #FFF;
	input {
		font-family: 'Crimson Text', serif;
		font-weight: 600;
	}
	h1, h2, h3, h4, h5, h6, p, a, span, ul li, label, input[type=text], select, option, textarea {
		font-family: 'Crimson Text', serif;
		color: #333;
		font-weight: 600;
	}
}

.term {
	border: 1px solid #333;
	padding: 30px;
	max-width: 743px;
	margin: auto;
	header {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding-bottom: 50px;
		div.logo--wrap {
			flex-grow: 0;
			flex-basis: 150px;
			flex-shrink: 0;
			text-align: left;
			width: 150px;
			.logo-ufrn {
				width: 80px;
			}
			.logo-mcc {
				padding-top: 15px;
				width: 130px;
			}
			&:last-child {
				text-align: right;
			}
		}
		div.info {
			flex-grow: 1;
			text-align: center;
			h1 {
				font-size: 14px;
				padding: 0;
				margin: 0;
			}
			h2 {
				font-size: 12px;
				font-weight: 700;
			}
		}
	}
	footer {
		text-align: center;
		padding-top: 30px;
		& > p {
			padding-bottom: 20px;
			padding-top: 20px;
		}
		div.signatures--wrap {
			display: flex;
			justify-content: center;
			.signature {
				padding: 20px;
				flex-basis: 300px;
				text-align: center;
				p:nth-child(1) {

				}
				p:not(:nth-child(1)) {
					padding: 0;
					margin: 0;
				}
			}
		}
	}
	p {
		line-height: 1;
		padding: 2px 0 3px;
		margin: 0;
		font-size: 15px;
	}
	.form-group {
		margin-bottom: 5px;
		label.control-label {
			text-align: left;
			text-transform: uppercase;
			padding-bottom: 3px;
		}
		.form-control:focus, .single-line:focus {
			border-color: #333 !important;
		}
	}
	.form-control-static {
		border: 1px solid #333;
		padding: 3px 5px;
		line-height: 1;
		margin: 0;
		min-height: initial;
		font-weight: 700;
	}
	.form-paragraph {
		
	}
	.form-title {
		padding-top: 15px;
	}
	.form-list {
		list-style-type: upper-roman;
	}
	h5.form-title {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
	h6.form-title {
		font-size: 15px;
		font-weight: 400;
	}
	input[type=checkbox] {
		border: 1px solid #333;
		box-shadow: none;
	}
	table {
		tr th, tr td {
			vertical-align: middle;
		}
		td input {
			width: 100%;
		}
		td img {
			max-width: 250px;
		}
	}
	table, tr, td, th, tbody, thead, tfoot {
		page-break-inside: avoid !important;
	}
}